extends layout

block content

    h1 #{title}: #{user.name}

    div(style='margin-left:20px;margin-top:20px')

    hr

    div(class="col-12 col-sm-6 col-lg-4")
        div(class="row border border-secondary border-end-0 border-start-0 m-0 d-flex position-relative")
            p(class=" fs-5 py-2 text-secondary m-0") Add New Product
            a(href=user.url + '/admin/:id/addProduct' class="stretched-link")

        div(class="row border  border-end-0 border-start-0 m-0 d-flex position-relative")
            p(class=" fs-5 py-2 text-secondary m-0") Add New Category
            a(href=user.url + '/admin/:id/addCategory' class="stretched-link")

        div(class="row border border-secondary border-end-0 border-start-0 m-0 d-flex position-relative")
            p(class=" fs-5 py-2 text-secondary m-0") Logout
            a(href=user.url + '/logout' class="stretched-link")

        div(class="row border  border-end-0 border-start-0 m-0 d-flex position-relative")
            p(class=" fs-5 py-2 text-secondary m-0") Update account
            a(href=user.url + '/update' class="stretched-link")

        div(class="row border border-secondary border-end-0 border-start-0 m-0 d-flex position-relative")
            p(class=" fs-5 py-2 text-secondary m-0") Delete account
            a(href=user.url + '/delete' class="stretched-link")