extends layout 

block content 
    h1 Name: #{item.name}

    p #[strong Price:] #{item.price}

    p #[strong Summary:] #{item.summary}

    div(style='margin-left:20px;margin-top:20px')

        h4 Stock

        dl Large: #{item.stockLarge}
        dl Medium: #{item.stockMedium}
        dl Small: #{item.stockSmall}

    hr
    if(user)
        if(user.isAdmin)
            p
                a(href=item.adminUrl + '/delete') Delete item
            p
                a(href=item.adminUrl+ '/update') Update items

        else
            p  
                a(href=item.url + '/addtocart') Add To Cart
    else
        p
            a(href=item.url + '/addtocart') Add to Cart
