extends layout

block content
    h1 All Items

    form(action='', method='GET')
        div
            label Name: 
            | &nbsp
            input(type='text', name='name', value=`${name}` onfocus="this.value= ''")
        div
            label Price limit: 0 
            | &nbsp
            input(type='range', min = "0", max = "100", name='price', value=`${price}` id="range")
            label 100 | &nbsp     
            <span id="value">#{price}</span>
        button(type='submit') Search
        script(src='/javascripts/slider.js')
    each item in items
        li
           | Name: #{item.name}
           | Price: #{item.price}
           br
           a(href=item.url) 
            <img height="150" width="100" src="#{item.imagePath}">