extends layout

block content
    h1 All Items

    div(class="row")
        div(class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0")
            form(action='', method='GET')
                input( class="form-control" type='text' name='name' placeholder="Search" value=`${name}` onfocus="this.value= ''")

        div(class="col")
            div(class="dropdown float-end mx-2 mb-2 mb-sm-0")
                button(type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside") Price
                form(action='', method='GET' class="dropdown-menu p-2")
                    div(class="input-group")
                        label Price limit: 0 &nbsp
                        input(type='range', min = "0", max = "100", name='price', value=`${price}` id="range")
                        label 100 | &nbsp
                        <span id="value">#{price}</span>
                        button(type='submit') save
                        script(src='/javascripts/slider.js')


            div(class="dropdown float-end mx-2")
                button(type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside") Category
                form(action='', method='GET' class="dropdown-menu p-2")
                    each category in categories
                        div(class="form-check")

                            if category._id == current_category
                                input.checkbox-input(class="form-check-input" type='checkbox', name='category', id=category._id, value=category._id onChange="this.form.submit()", checked)
                            else
                                input.checkbox-input(class="form-check-input" type='checkbox', name='category', id=category._id, value=category._id onChange="this.form.submit()")
                            label(class="form-check-label" for=category._id) #{category.name}
                    script(src='/javascripts/checkbox.js')
                    //button(type="submit" class="btn btn-primary") #{category.name}

    // -var item = items[2];
    //
    // div(class="row my-4")
    //     div(class="col-4")
    //         div(class="card" style="width: 18rem;")
    //             <img src="#{item.imagePath}">
    //             div(class="card-body")
    //                 h5(class="card-title") #{item.name}
    //                 p € #{item.price}

    div(class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-4")
        each item in items
            div(class="col")
                div(class="card border-0", style="height: 500px")
                    <img class="card-img-top img-responsive" style="height:400px" src="#{item.imagePath}">
                    div(class="card-body px-1")
                        h5(class="card-title") #{item.name}
                        p(class="card-text") € #{item.price}
                        a(class="stretched-link" href=item.url)
