extends layout

block content

  .container.py-5.h-100
    .row.d-flex.justify-content-center.align-items-center.h-100
      .col-12
        .card.card-registration.card-registration-2(style='border-radius: 15px;')
          .card-body.p-0
            .row.g-0
              .col-lg-8
                .p-5
                  .d-flex.justify-content-between.align-items-center.mb-5
                    h1.fw-bold.mb-0.text-black Shopping Cart
                        hr.my-4
                        each item in items
                            .row.mb-4.d-flex.justify-content-between.align-items-center
                                .col-md-2.col-lg-2.col-xl-2
                                    <img width = 30 height = 45 class="img-fluid rounded" src="#{item.imgPath}">
                                .col-md-3.col-lg-3.col-xl-3
                                  h6.text-black.mb-0 #{item.name}
                                  h6.text-muted #{(item.itemId)}
                                .col-md-3.col-lg-3.col-xl-2.d-flex
                                  - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                                  button.btn.btn-primary(type="button" id="removeOne" itemId=item.itemId size=item.size userId=user._Id) -1
                                  
                                  h5.text-black.mb-0 #{item.quantity}
                                  
                                  - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                                  button.btn.btn-primary(type="button" id="addOne" itemId=item.itemId size=item.size userId=user._Id ) +1
                                .col-md-3.col-lg-2.col-xl-2.offset-lg-1
                                  h6.mb-0 &euro; #{item.price}
                                .col-md-1.col-lg-1.col-xl-1.text-end
                                  a.text-muted(href='#!')
                                      i.fas.fa-times
                                script(type="module" src='/javascripts/shoppingCart.js')
                        hr.my-4
                        .pt-5
                            h6.mb-0
                            a.text-body(href='/catalog')
                                i.fas.fa-long-arrow-alt-left.me-2
                                | Back to shop
              .col-lg-4.bg-grey
                .p-5
                  h3.fw-bold.mb-5.mt-2.pt-1 Summary
                  hr.my-4
                  .d-flex.justify-content-between.mb-4
                    h5 &euro; #{totalPrice}
                  h5.text-uppercase.mb-3 Shipping
                  .mb-4.pb-2
                  form(method='POST' action='select')
                    select#schipping.form-control(type='number', placeholder='Shipment Method' name='shipping' required='true' )
                      option(value='5') Standard-Delivery- &euro;5.00
                      option(value='15') Fast-Delivery- &euro;15.00
                      option(value='7') Offset-Carbon-Standard &euro;7.00
                      option(value='17') Offset-Carbon-Standard &euro;17.00
                  hr.my-4
                  .d-flex.justify-content-between.mb-5
                    h5.text-uppercase Total price
                    h5 &euro; #{totalIncShipping}