extends layout

block content

    h1 User: #{user.name}

    div(style='margin-left:20px;margin-top:20px')

    a(href=user.url+'/shoppingCart') Shopping Cart

    hr
    p
        a(href=user.url+'/logout') Logout
    p
        a(href=user.url+'/delete') Delete account
    p
        a(href=user.url+'/update') Update account